body {
  margin: 0;
  font-family: cursive;
}

.topnavbar {
  overflow: hidden;
  background-color: #333;

}

.topnavbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnavbar a:hover {
  background-color: #ddd;
  color: black;
}

.topnavbar a.home {
  background-color: grey;
  color: white;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    width: 50%;
}

.footer {
    left:0;
    bottom: 0;
    width: 100%;
}

/*img{
    border: solid 4px;
    border-color: black;
}*/

p#date{
    color: white;
    position: fixed;
    bottom:0;
    right:5px;
    border: 2px Solid black;
    background-color: gray
}

a#footer:link{
    color: grey;
}

a#footer:visited{
    color:grey;
}

a#footer:hover{
    color: black;
}
